.navbar {

        border-bottom: 3px solid rgb(221, 220, 220);

       

        /* display: grid;
        width: 100%;
        height:100%;
        text-decoration: none;
        max-width: 1080px; */

}

.nav-links {



}
.heart:active{
      color: blue;
}
a{
        align-items: center;
        display: flex;
        text-decoration: none;
       
        list-style: none;
}
a:active {
     
    
        border-bottom: 3px solid blue;
} 
.user{

}