.navside {
    border-right: 3px solid rgb(221, 220, 220);
 

}

.add {
    border: 3px solid rgba(35, 140, 209, 0.753);
   
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration:none; 
    text-align: center;
 
}
.table1{
    margin-left: 310px;
    margin-top: -700px;
}
.nav2{
    border: 3px solid rgb(221, 220, 220);
    marginLeft:20px
}
.ToBuy{

}
.borderless table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    background-color: none;
}
.addwhish{
 
}
